
  <div >
    <div class="card"  [class.off]="actor.off" (click)="toggleOff()" >
      <div class="card-header">
        {{actor.nombre}}
      </div>
      <div class="card-body">
        <img [src]="actor.img"
          [alt]="actor.nombre">
      </div>
    </div>
  </div>

